[submodule "docs"]
	path = docs
	url = https://github.com/laravel/docs.git
[submodule "docs/8.x"]
	path = docs/8.x
	url = https://github.com/laravel/docs.git
	branch = 8.x
[submodule "docs/master"]
	path = docs/master
	url = https://github.com/laravel/docs.git
	branch = master
[submodule "docs/9.x"]
	path = docs/9.x
	url = https://github.com/laravel/docs.git
	branch = 9.x
